* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { height: 100%; }

body {
  font: normal 19px/1.5 var(--font-stack-regular);
  color: var(--color-carbon-900);
  background-color: var(--color-crystal-white);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

main {
  padding-bottom: 32px;
  background-color: var(--color-dust);

  @include media('>=large') {
    padding-bottom: 128px;
  }
}

::selection {
  background-color: var(--color-electric-magenta);
  color: var(--color-crystal-white);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
