* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { height: 100%; }

body {
  font: normal 19px/1.5 var(--font-stack-regular);
  color: var(--color-carbon-900);
  background-color: var(--color-dust);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: var(--color-electric-magenta);
  color: var(--color-crystal-white);
}
