label {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.13;
}

.form__field--optional {
  label {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    span {
      font-size: 16px;
      color: var(--color-slate);
    }
  }
}
