@import '../../layouts/layout/styles/settings/breakpoints';
@import '../../layouts/layout/styles/tools/media-queries';

.wrapper {
  padding: 0 18vw;

  @include media('>=xx-large') {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0;
  }
}
