@import '../../layouts/layout/styles/settings/all';
@import '../../layouts/layout/styles/tools/all';

.detour {
  background-color: var(--crystal-white);
  margin: 128px 0 0;
  text-align: center;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    color: var(--carbon-900);
    text-decoration: none;

    @include media(">=large") {
      padding: 128px 0;
    }
  }

  &__meta {
    margin: 0 0 16px;
    font-size: 16px;
    font-weight: 700;
    color: var(--slate);
    text-transform: uppercase;
    letter-spacing: normal;
  }

  &__title {
    width: 30vw;
    margin: 0 0 32px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.25;
  }
}
