.cover {
  position: relative;
  min-height: 100vh;
  padding: 128px 0;
  background-color: rgb(29, 29, 29);
  color: var(--color-crystal-white);
  overflow: hidden;

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-crystal-white);
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1440px;
    padding-left: 64px;
    margin: 0 0 0 -720px;
    border-left: 8px solid var(--color-crystal-white);
    font-size: 32px;
    font-weight: 400;
    transform: translateY(-50%);
    z-index: 2;

    &-client {
      display: block;
      margin: 0 0 16px;
      font-size: 128px;
      line-height: 1;
      letter-spacing: -4px;
    }

    &-headline {
      display: block;
      font-size: 96px;
      font-size: 32px;
      letter-spacing: normal;
      font-family: var(--font-stack-regular);
    }
  }

  // Unique title bar branding
  &__title--hwy55 { border-left-color: #aF1e23; }
  &__title--nccourts { border-left-color: #ae936c; }
  &__title--redhat { border-left-color: #ee0000; }
  &__title--uwpharmacy { border-left-color: #c5050c; }
  // Unique title bar branding

  &__services {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    list-style: none;
    z-index: 2;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  &__dots {
    display: none;

    @include media('>=large') {
      position: fixed;
      top: 50%;
      right: 64px;
      display: block;
      width: 320px;
      height: 320px;
      background-image: radial-gradient(var(--color-crystal-white) 1.5px, transparent 0);
      background-size: 32px 32px;
      transform: translateY(-50%);
      transition: opacity $animation_speed_complex $animation_easing_decelerate;
      z-index: 3;
    }

    &--inverted g {
      fill: var(--color-crystal-white);
    }

    &--hide {
      opacity: 0;
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
