.form-follow {
  @include media('>=large') {
    margin: -128px 0 128px;
  }

  .wrapper {
    @include media('>=large') {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
}

.form {
  padding: 32px;
  margin: 0 -32px 0;
  background-color: var(--color-crystal-white);

  @include media('>=large') {
    position: relative;
    padding: 64px;
    margin: 0;
    border-radius: var(--border-radius);
    border-bottom-right-radius: 0;
  }

  &:before {
    @include media('>=large') {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 148px;
      height: 148px;
      background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
      background-size: 32px 32px;
      transform: translate3d(-50%, -50%, 0);
      z-index: -1;
    }
  }

  &__meta {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-slate);
    letter-spacing: normal;
    text-transform: uppercase;

    &:after {
      content: '';
      display: block;
      width: 32px;
      height: 2px;
      margin: 16px 0 0;
      background: linear-gradient(90deg, var(--color-electric-magenta), var(--color-electric-purple));
      border-radius: var(--border-radius);
    }
  }

  &__title {
    margin: 16px 0 0;
    font-size: 32px;
  }

  &__desc {
    margin: 32px 0 64px;
    color: var(--color-slate);
  }
}

.follow {
  padding: 32px;
  margin: 0 -32px 0;
  background-color: var(--color-carbon-900);
  color: var(--color-crystal-white);

  @include media('>=large') {
    padding: 64px;
    margin: 128px 0 0;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  &__meta {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-slate-light);
    letter-spacing: normal;
    text-transform: uppercase;
  }

  &__title {
    margin: 16px 0 64px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
  }

  &__list {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
  }

  &__brand {

    a {
      display: flex;
      align-items: center;
      color: var(--color-crystal-white);
      text-decoration: none;
    }

    svg {
      width: 32px;
      height: 32px;
    }

    span {
      margin-left: 16px;
    }

    path {
      fill: var(--color-crystal-white);
    }
  }

  &__brand + &__brand {
    margin-top: 24px;
  }

}
