.form-follow {
  margin: 64px 0;

  @include media('>=large') {
    margin: -128px 0 128px;
  }

  .wrapper {
    @include media('>=large') {
      display: flex;
    }
  }
}

.form {
  background-color: var(--crystal-white);

  @include media('>=large') {
    width: percentage(824/1248);
    padding: 64px;
  }


  &__meta {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--slate);
    letter-spacing: normal;
    text-transform: uppercase;

    &:after {
      content: '';
      display: block;
      width: 32px;
      height: 2px;
      margin: 16px 0 0;
      background-color: var(--carbon-200);
    }
  }

  &__title {
    margin: 16px 0 0;
    font-size: 32px;
  }

  &__desc {
    margin: 32px 0 64px;
    color: var(--slate);
  }
}

.follow {
  background-color: var(--carbon-900);
  color: var(--crystal-white);

  @include media('>=large') {
    width: percentage(424/1248);
    padding: 64px;
    margin-top: 128px;
  }

  &__meta {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--slate-light);
    letter-spacing: normal;
    text-transform: uppercase;
  }

  &__title {
    margin: 16px 0 64px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
  }

  &__list {
    padding: 0;

    text-align: center;
    list-style: none;
  }

  &__brand {

    a {
      display: flex;
      align-items: center;
      color: var(--crystal-white);
      text-decoration: none;
    }

    svg {
      width: 32px;
      height: 32px;
    }

    span {
      margin-left: 16px;
    }

    path {
      fill: var(--crystal-white);
    }
  }

  &__brand + &__brand {
    margin-top: 24px;
  }

}
