.hero {
  position: relative;
  min-height: 100vh;
  padding: 64px 0;
  background-color: rgb(29, 29, 29);
  color: var(--color-crystal-white);
  overflow: hidden;

  @include media('>=large') {
    padding: 128px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-crystal-white);
  }

  &__title {
    font-family: var(--font-stack-regular);
    font-weight: normal;
    z-index: 2;

    @include media('>=large') {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1440px;
      margin-left: -720px;
      font-size: 32px;
      transform: translateY(-50%);
    }

    span {
      display: inline-block;
      margin-top: 16px;
      font-family: var(--font-stack-extrabold);
      line-height: 1;

      @include media('>=large') {
        font-size: 160px;
        line-height: 0.9;
        letter-spacing: -8px;
      }
    }
  }

  &__highlights {
    z-index: 2;

    @include media('>=large') {
      position: absolute;
      bottom: 64px;
      left: 50%;
      display: flex;
      justify-content: space-between;
      width: 1440px;
      margin-left: -720px;
    }

    div {
      @include media('>=large') {
        width: percentage(400/1248);
      }
    }

    h2 {
      font-size: 24px;
    }

    p {
      color: var(--color-slate-light);
    }
  }

  &__dots {
    position: fixed;
    top: 50%;
    right: 64px;
    transform: translateY(-50%);
    transition: opacity $animation_speed_complex $animation_easing_decelerate;
    z-index: 3;

    &--inverted g {
      fill: var(--color-crystal-white);
    }

    &--hide {
      opacity: 0;
    }
  }

  &__video {
    position: absolute;
    top: 50%;
    right: -15%;
    max-width: 80%;
    mix-blend-mode: lighten;
    transform: translateY(-50%);
    z-index: 1;
  }
}
