@import '../../layouts/layout/styles/settings/all';
@import '../../layouts/layout/styles/tools/all';

.news {
  margin-top: 64px;

  @include media('>=large') {
    margin-top: 128px;
  }

  &__meta {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--slate);
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 32px;
      height: 2px;
      margin: 16px auto 0;
      background-color: var(--carbon-200);
    }
  }

  &__title {
    margin: 16px 0 64px;
    font-size: 32px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__story {
    width: percentage(400/1248);

    &-link {
      text-decoration: none;

      &:hover {
        .news__story-photo img {
          transform: scale(1.05);
        }
        .news__story-photo:before {
          box-shadow: inset 0 0 0 16px var(--dust);
        }
      }
    }

    &-photo {
      position: relative;
      width: 100%;
      height: 300px;
      margin-bottom: 32px;
      overflow: hidden;

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform $animation_speed_dramatic $animation_easing_decelerate;
        z-index: 1;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 0 var(--dust);
        transition: box-shadow $animation_speed_dramatic $animation_easing_decelerate;
        z-index: 2;
      }
    }

    &-category {
      position: relative;
      margin: 0 0 0 32px;
      font-size: 16px;
      font-weight: 700;
      color: var(--slate);
      text-transform: uppercase;
      letter-spacing: normal;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -32px;
        display: block;
        width: 16px;
        height: 2px;
        margin-top: -1px;
        background-color: var(--slate);
      }
    }

    &-title {
      margin: 24px 0 0 32px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -1px;
    }
  }

}
