.sidekick {
  position: relative;
  min-height: 100vh;

  &__content {
    @include media('>=large') {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1440px;
      margin-left: -720px;
      transform: translateY(-50%);
    }
  }

  &__title {
    position: relative;
    margin: 0;
    font-family: var(--font-stack-extrabold);
    line-height: 1;

    @include media('>=large') {
      font-size: 96px;
      letter-spacing: -2px;
    }
  }

  &__dots {
    position: fixed;
    top: 50%;
    right: 64px;
    transform: translateY(-50%);
    transition: opacity $animation_speed_complex $animation_easing_decelerate;

    &--hide {
      opacity: 0;
    }
  }

  // Bold sidekick
  // ===========================================================================
  &--bold {
    .sidekick__title {
      @include media('>=large') {
        font-size: 96px;
        letter-spacing: -2px;
        // text-transform: uppercase;
      }
    }
  }

  // Section sidekick
  // ===========================================================================
  &--section {
    .sidekick__title {
      @include media('>=large') {
        font-size: 160px;
        line-height: .85;
        letter-spacing: -8px;
      }
    }
  }
}
