.sidekick {
  position: relative;
  min-height: 100vh;

  &__content {
    @include media('>=large') {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1248px;
      margin-left: -624px;
      transform: translateY(-50%);
    }
  }

  &__title {
    margin: 0;
    font-family: var(--font-stack-extrabold);
    line-height: 1;

    @include media('>=large') {
      font-size: 80px;
      letter-spacing: -2px;
    }
  }

  &__dots {
    position: absolute;
    top: 50%;
    right: 64px;
    transform: translateY(-50%);
  }
}
