.skills {
  padding: 64px 0;
  margin-top: 64px;

  @include media('>=large') {
    padding: 0;
    margin-top: 128px;
  }

  .wrapper {
    position: relative;
  }

  &__list {
    display: grid;
    row-gap: 24px;

    @include media('>=small') {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 24px;
    }
  }

  &__type {
    border-radius: var(--border-radius);
    text-align: center;

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      padding: 32px;
      background-color: var(--color-crystal-white);
      box-shadow: 0 2px 4px 0 rgba(24, 24, 32, 0.16);
      border-radius: var(--border-radius);
      text-decoration: none;
      transition: box-shadow $animation_speed_complex $animation_easing_decelerate;

      &:hover, &:focus {
        box-shadow: 0 14px 28px rgba(24, 24, 32, 0.08);
      }
    }

    &-icon {
      height: 35%;

      svg {
        height: 100%;
      }
    }

    &-title {
      margin: 32px 0 0;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -1px;
    }
  }

}
