.work {
  margin-top: 64px;

  &__title {
    position: relative;
    margin: 0 0 64px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-slate);
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
  }

  &__list {
    @include media('>=large') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__project {
    @include media('>=large') {
      width: percentage(612/1248);
    }

    &:nth-child(n+3) {
      margin-top: 128px;
    }

    &-link {
      text-decoration: none;

      &:hover {
        .work__project-photo img {
          transform: scale(1.05);
        }
        .work__project-photo:before {
          box-shadow: inset 0 0 0 8px var(--color-carbon-900);
        }
      }
    }

    &-photo {
      position: relative;
      width: 100%;
      height: 612px;
      margin-bottom: 32px;
      overflow: hidden;

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform $animation_speed_complex * 2 $animation_easing_decelerate;
        z-index: 1;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 0 var(--color-carbon-900);
        transition: box-shadow $animation_speed_complex * 2 $animation_easing_decelerate;
        z-index: 2;
      }
    }

    &-client {
      position: relative;
      margin: 0 0 0 32px;
      font-size: 16px;
      font-weight: 700;
      color: var(--color-slate);
      text-transform: uppercase;
      letter-spacing: normal;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -32px;
        display: block;
        width: 16px;
        height: 2px;
        margin-top: -1px;
        background-color: var(--color-slate);
      }
    }

    &-title {
      margin: 16px 0 0 32px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -1px;

      @include media('>=large') {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -2px;
      }
    }
  }

}
