@import '../../layouts/layout/styles/settings/breakpoints';
@import '../../layouts/layout/styles/tools/media-queries';

.form {
  margin: 64px 0;

  @include media('>=large') {
    margin: 128px 0;
  }

  &__container {
    width: percentage(824/1248);
    padding: 64px;
    background-color: var(--crystal-white);
  }

  &__meta {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--slate);
    letter-spacing: normal;
    text-transform: uppercase;

    &:after {
      content: '';
      display: block;
      width: 32px;
      height: 2px;
      margin: 16px 0 0;
      background-color: var(--carbon-200);
    }
  }

  &__title {
    margin: 16px 0 0;
    font-size: 32px;
  }

  &__desc {
    margin: 32px 0 64px;
    color: var(--slate);
  }
}
