.band {
  margin-top: 64px;

  @include media('>=large') {
    margin-top: 128px;
  }

  // Numbered band
  // ---------------------------------------------------------------------------
  &--numbered {
    .wrapper {
      @include media('>=large') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
      }
    }
    .band__title-block {
      @include media('>=large') {
        grid-column: 1 / 4;
      }
    }
    .band__number {
      display: flex;
      align-items: center;
      padding-top: 16px;
      color: var(--color-slate);

      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 1px;
        margin-left: 16px;
        background-color: var(--color-slate);
      }
    }
    .band__title {
      margin: 0;
      font-size: 19px;

      &:after {
        content: '.';
      }
    }

    .band__content {
      @include media('>=large') {
        grid-column: 5 / 13;
      }
    }

    img {
      margin-top: 64px;
    }
  }

  // Client band
  // ---------------------------------------------------------------------------
  &--client {
    .wrapper {
      @include media('>=large') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
      }
    }
    .band__title-block {
      @include media('>=large') {
        grid-column: 1 / 4;
        display: flex;
        justify-content: center;
        padding: 64px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.16);
        border-radius: 5px;
        text-align: center;
      }

      svg {
        display: block;
        width: 100%;
      }

      h1 { @extend .visually-hidden; }
    }

    .band__title {
      margin: 0;
      font-size: 19px;

      &:after {
        content: '.';
      }
    }

    .band__content {
      @include media('>=large') {
        grid-column: 5 / 13;
      }
    }
  }

  // Split band
  // ---------------------------------------------------------------------------
  &--split {
    .wrapper {
      @include media('>=large') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
      }
    }

    .wrapper > *:first-child {
      @include media('>=large') {
        grid-column: 1 / 7;
      }
    }

    .wrapper > *:last-child {
      margin-top: 32px;

      @include media('>=large') {
        grid-column: 7 / 13;
        margin-top: 0;
      }
    }
  }
}
