.footer {
  padding: 64px 0;
  background-color: var(--carbon-900);
  color: var(--crystal-white);

  // Primary section
  &__primary {
    @include media('>=large') {
      font-size: 32px;
      line-height: 1.25;
    }
  }

  // Secondary section
  &__secondary {
    padding-top: 64px;
    margin-top: 64px;
    border-top: 1px solid var(--carbon-700);
  }

  // Tertiary section
  &__tertiary {
    @include media('>=large') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 64px;
    }
  }

  // M-Logo
  .m-logo path {
    fill: var(--crystal-white);
  }

  // Legal menu
  .menu--legal {
    padding: 0;
    margin: 0;
    list-style: none;

    @include media('>=large') {
      display: flex;
      order: 2;
    }

    li + li {
      @include media('>=large') {
        margin-left: 24px;
      }
    }

    a {
      font-size: 14px;
      color: var(--carbon-300);
      text-decoration: none;
      transition: color $animation_speed_simple $animation_easing_standard;

      &:hover,
      &:focus {
        color: var(--crystal-white);
      }
    }
  }

  // Copyright statement
  .copyright {
    font-size: 14px;
    color: var(--carbon-300);

    @include media('>=large') {
      order: 1;
    }

    strong {
      font-weight: 700;
    }
  }
}
