// Layout Header
// =============================================================================
.layout--header {

  .m-logo {
    position: fixed;
    top: 32px;
    left: 32px;
    width: 32px;
    height: 32px;
    z-index: 100;

    @include media('>=large') {
      top: 72px;
      left: 74px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      @include media('>=large') {}
    }

    svg {
      width: auto;
      height: 100%;
    }
  }

  .breadcrumb {
    position: fixed;
    top: 72px;
    left: 50%;
    display: flex;
    align-items: center;
    margin-left: -624px;
    font-weight: 400;
    font-size: 21px;
    color: var(--color-carbon-900);
    z-index: 100;

    strong {
      display: flex;
      align-items: center;
      font-weight: 900;

      &:after {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        margin: 0 16px;
        background-color: var(--color-carbon-900);
        border-radius: 50%;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: calc(100% + 32px);
      width: 108px;
      height: 2px;
      margin-top: -1px;
      background-color: var(--color-carbon-900);
    }
  }

  .menu-toggle {
    position: fixed;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1001;

    @include media('>=large') {
      top: 50%;
      left: 66px;
      width: 64px;
      height: 64px;
      margin-top: -32px;
    }

    svg {
      width: 24px;
    }

    // hover + focus state
    &:hover,
    &:focus {
      outline: 0;
    }

    // active state
    &--active {
      path {
        fill: var(--color-crystal-white);
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 32px;
    background-color: var(--color-carbon-900);
    overflow: hidden;
    z-index: 1000;

    @include media('>=large') {
      padding: 0 256px;
    }

    &__list {
      position: relative;
      width: 100%;
      z-index: 1;

      @include media('>=large') {
        width: 50%;
      }

      h1 {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
      }
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
      }
      li + li {
        margin-top: 24px;

        @include media('>=large') {
          margin-top: 32px;
        }
      }
      a {
        display: inline-block;
        color: var(--color-crystal-white);
        text-decoration: none;
        font-family: var(--font-stack-extrabold);
        font-size: 28px;
        line-height: 1;
        text-transform: uppercase;
        transition:
          color $animation_speed_complex $animation_easing_decelerate,
          text-shadow $animation_speed_complex $animation_easing_decelerate;

        @include media('>=large') {
          font-size: 80px;
        }
      }

      a:hover, a:focus {
        color: var(--color-carbon-900);
        text-shadow:
		      -2px -2px 0 var(--color-crystal-white),
		       2px -2px 0 var(--color-crystal-white),
		      -2px  2px 0 var(--color-crystal-white),
		       2px  2px 0 var(--color-crystal-white);

        strong:before {
          animation: strikeMenuItem $animation_speed_dramatic $animation_easing_standard;
        }
      }

      a[aria-current="page"],
      a[aria-current="page"]:hover,
      a[aria-current="page"]:focus {
        strong:before {
          transform: translateX(0%);
          animation: none;
        }
      }
    }

    &__promo {
      position: absolute;
      top: 0;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 45vw;
      height: 100%;
      padding: 64px 64px 0 0;
      color: var(--color-crystal-white);
      overflow: hidden;
      z-index: 1;

      p {
        position: absolute;
        top: 50%;
        left: 0;
        margin: 0;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.25;
        transform: translateY(-50%);

        span {
          display: block;
        }
      }
    }
  }

  @keyframes strikeMenuItem {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .social {
    position: fixed;
    left: 74px;
    bottom: 64px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 100;

    &__brand {
      width: 48px;
      height: 48px;
    }

    &__brand + &__brand { margin-top: 12px; }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 12px;
      box-shadow: 0 0 0 rgba(0,0,0,0.16), 0 0 0 rgba(0,0,0,0.23);
      border-radius: 50%;
      transition:
        background $animation_speed_complex $animation_easing_standard,
        box-shadow $animation_speed_complex $animation_easing_standard;

      &:hover {
        background-color: rgba(255,255,255,.25);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
    }

    path { transition: fill $animation_speed_complex $animation_easing_standard; }

    // Brand colors
    &__brand--dribbble:hover {
      path { fill: #ea4c89; }
    }

    &__brand--linkedin:hover {
      path { fill: #2867B2; }
    }

    &__brand--twitter:hover {
      path { fill: #1DA1F2; }
    }

    // Inverted colors
    &--inverted {
      path { fill: var(--color-crystal-white); }
    }
  }

  .actions {
    position: fixed;
    top: 55px;
    right: 64px;
    z-index: 100;

    &--inverted {
      .button {
        background-color: var(--color-crystal-white);
        color: var(--color-carbon-900);
      }
      .button g { stroke: var(--color-carbon-900); }

      .button:hover, .button:focus {
        box-shadow: 0 0 0 2px var(--color-crystal-white);
      }
    }
  }

  .scroll-indicator {
    position: fixed;
    right: 0;
    bottom: 0;
  }

  .artifacts {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate3d(0, -50%, 0);
  }
}
