.wrapper {
  padding: 0 32px;

  @include media('>=small') {
    padding: 0 64px;
  }

  @include media('>=large') {
    padding: 0 128px 0 192px; // offset menu @ 64px
  }

  @include media('>=x-large') {
    padding: 0 256px;
  }

  @include media('>=xx-large') {
    padding: 0 320px;
  }

  @include media('>xxx-large') {
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
  }
}
