@import '../../layouts/layout/styles/settings/all';
@import '../../layouts/layout/styles/tools/all';

.meta-label {
  color: var(--slate);
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
