.m-logo {
  width: 48px;
  margin: 0;

  a { display: block; }

  path {
    fill: var(--color-carbon-900);
    fill: var(--color-crystal-white);
  }

  &--inverted {
    path { fill: var(--color-crystal-white); }
  }
}
