// Dot statement
// =============================================================================
.dot {
  color: var(--color-red);
}


// Copyright statement
// =============================================================================
.copyright {
  display: inline-block;
  margin: 0 16px 0 0;
}
