@import '../../layouts/layout/styles/settings/all';
@import '../../layouts/layout/styles/tools/all';

.how-why {
  margin-top: 64px;

  @include media(">=large") {
    margin-top: 128px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  article {
    width: percentage(612/1248);
  }

}
