:root {
  --carbon-900: #1b1b1c;
  --carbon-800: #282728;
  --carbon-700: #343436;
  --carbon-600: #494949;
  --carbon-500: #646569;
  --carbon-400: #adadad;
  --carbon-300: #dadfe1;
  --carbon-200: #dddddd;
  --carbon-100: #e5e5eb;
  --dust-heavy: #f3f3f6;
  --dust: #f7f7f7;
  --dust-light: #f9f9f9;
  --crystal-white: #ffffff;
  --slate-heavy: #566971;
  --slate: #5a6e77;
  --slate-light: #6e8891;
  --electric-blue: #1dcaff;
  --electric-magenta: #ff007e;
  --electric-purple: #5708d3;
  --electric-shadow: #1f0645;
  --error-red: #eb0000;
}
