@import '../../layouts/layout/styles/settings/all';
@import '../../layouts/layout/styles/tools/all';

.services {
  .wrapper {

  }
}

.service {
  display: flex;
  justify-content: space-between;

  &__primary {}

  &__secondary {
    @include media('>=large') {
      width: percentage(506/1248);
    }

    p:first-child {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25;
    }
  }

}
