// Layout Header
// =============================================================================
.layout--header {
  display: none;

  .monogram {
    position: fixed;
    width: 48px;
  }

  .toggle--menu {
    position: fixed;
    width: 48px;
  }

  .social-follow {
    position: fixed;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      width: 32px;
    }
  }
}
