// Layout Header
// =============================================================================
.layout--header {}


// Monogram
// =============================================================================
.monogram {
  width: 48px;
}


// Social Follow
// =============================================================================
.social-follow {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    width: 32px;
  }
}
