* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  // height: 100%;
  overflow-x: hidden;
}

body {
  font: var(--font-weight-regular) 19px/1.5 var(--font-family-base);
  color: var(--color-cool-gray-100);
  background-color: var(--color-crystal-white);
  text-rendering: optimizeLegibility;
}

main {
  padding-bottom: 32px;
  background-color: var(--color-dust);

  @include media('>=large') {
    padding-bottom: 128px;
  }
}

::selection {
  background-color: var(--color-magenta-60);
  color: var(--color-crystal-white);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
