.cover {
  position: relative;
  padding: 0;
  background-color: rgb(29, 29, 29);
  color: var(--color-crystal-white);

  @include media('>=large') {
    height: 100vh;
    overflow: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-crystal-white);
  }

  &__title {
    position: relative;
    padding: 32px 0;
    margin: 0;
    z-index: 2;

    @include media('>=large') {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1440px;
      padding: 0 0 0 64px;
      margin: 0 0 0 -720px;
      border-left: 8px solid var(--color-crystal-white);
      font-size: 32px;
      font-weight: var(--font-weight-regular);
      transform: translateY(-50%);
    }


    &-client {
      display: block;
      margin: 0 0 16px;
      font-size: 18px;
      font-weight: var(--font-weight-semibold);
      line-height: 1;
      letter-spacing: normal;

      @include media('>=large') {
        font-size: 24px;
      }

      @include media('>=xxx-large') {
        font-size: 32px;
      }

      // @include media('>xxx-large') {
      //   font-weight: var(--font-weight-semibold);
      //   // font-size: 128px;
      //   font-size: 32px;
      //   line-height: 0.9;
      //   // letter-spacing: -4px;
      //   letter-spacing: normal;
      // }
    }

    &-headline {
      display: block;
      font-size: 24px;
      letter-spacing: normal;
      font-weight: var(--font-weight-black);

      @include media('>=large') {
        font-size: 64px;
        letter-spacing: -2px;
      }

      @include media('>=xxx-large') {
        font-size: 80px;
        line-height: 1;
      }

      // @include media('>xxx-large') {
      //   // font-size: 32px;
      //   font-size: 6vh;
      //   line-height: 1;
      //   letter-spacing: -2px;
      // }
    }
  }

  // Start: Unique title bar branding
  // ---------------------------------------------------------------------------
  &__title--atlanticbt { border-left-color: var(--color-atlanticbt); }
  &__title--hwy55 { border-left-color: var(--color-hwy55); }
  &__title--open-telco { border-left-color: var(--color-open-telco); }
  &__title--patternfly { border-left-color: var(--color-patternfly); }
  &__title--lexisnexis { border-left-color: var(--color-lexisnexis); }
  &__title--klearly { border-left-color: var(--color-klearly); }
  &__title--colorshark { border-left-color: var(--color-colorshark); }
  &__title--trainingindustry { border-left-color: var(--color-trainingindustry); }
  // ---------------------------------------------------------------------------
  // End: Unique title bar branding

  &__services {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 2;

    @include media('>=xxx-large') {
      left: 50%;
      bottom: 32px;
      gap: 24px;
      width: 1440px;
      padding: 24px 0 0;
      margin: 0;
      border-top: 1px solid rgba(255, 255, 255, .15);
      transform: translateX(-50%);
    }

    li {
      display: flex;
      align-items: center;
      gap: 24px;
      width: 100%;
      padding: 24px;
      // background-color: #333;
      font-size: 18px;
      font-weight: var(--font-weight-semibold);
      line-height: 1.25;
    }

    svg {
      width: 48px;
      height: 48px;
    }
  }

  &__dots {
    display: none;

    @include media('>=large') {
      position: fixed;
      top: 50%;
      right: 64px;
      display: block;
      width: 320px;
      height: 320px;
      background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
      background-size: 32px 32px;
      filter: invert(100%);
      mix-blend-mode: difference;
      transform: translateY(-50%);
      transition: opacity var(--animation-speed-complex) var(--animation-easing-decelerate);
      pointer-events: none;
      z-index: 3;
    }

    &--hide {
      opacity: 0;
    }
  }

  &__photo {
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: 1;

    @include media('>=large') {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
    }

    &:before {
      @include media('>=large') {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 33%, rgba(0, 0, 0, 1) 100%);
        z-index: 2;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0;
    }
  }
}
