.hero {
  // --motion-hero-title__visible:

  position: relative;
  padding: 128px 0 64px;
  // background-color: rgb(29, 29, 29); // blend with the video clip
  background-color: var(--color-cool-gray-100);
  color: var(--color-crystal-white);
  overflow: hidden;

  @include media('>=medium') {
    padding: 192px 0 96px;
  }

  @include media('>=xx-large') {
    min-height: 100vh;
    padding: 128px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-crystal-white);
  }

  &__title {
    margin: 0;
    font-size: 28px;
    font-weight: var(--font-weight-semibold);
    z-index: 2;

    @include media('>=xx-large') {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1440px;
      margin-left: -720px;
      font-weight: var(--font-weight-regular);
      transform: translateY(-50%);
    }

    // handcrafted digital experiences
    span {
      position: relative;
      display: inline-block;
      margin-top: 24px;
      font-size: 60px;
      font-weight: var(--font-weight-black);
      line-height: 1;
      letter-spacing: -2px;

      @include media('>=medium') {
        font-size: 96px;
        letter-spacing: -3px;
      }

      @include media('>=large') {
        left: -8px;
        font-size: 128px;
        line-height: 0.9;
        letter-spacing: -4px;
      }

      @include media('>xxx-large') {
        font-size: 160px;
        line-height: 0.9;
        letter-spacing: -8px;
      }
    }
  }

  &__highlights {
    position: relative;
    display: grid;
    row-gap: 48px;
    margin: 96px 0 0;
    font-size: 16px;
    z-index: 2;

    @include media('>=medium') {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 32px;
    }

    @include media('>=x-large') {
      position: absolute;
      bottom: 64px;
      left: 50%;
      row-gap: 32px;
      width: 1440px;
      margin-left: -720px;
      font-size: 19px;
    }

    div {
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 32px;
        height: 2px;
        margin-bottom: 24px;
        background: linear-gradient(to right, var(--color-magenta-60), var(--color-purple-60));
        border-radius: 2px;

        @include media('>=medium') {
          width: 48px;
        }

        @include media('>=large') {
          width: 64px;
          margin-bottom: 32px;
        }
      }
    }

    h2 {
      margin: 0 0 16px;
      font-size: 20px;

      @include media('>=large') {
        font-size: 24px;
      }
    }

    p {
      margin: 0;
      color: var(--color-slate-light);
    }
  }

  &__dots {
    display: none;

    @include media('>=large') {
      position: fixed;
      top: 50%;
      right: 64px;
      display: block;
      width: 320px;
      height: 320px;
      background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
      background-size: 32px 32px;
      filter: invert(100%);
      mix-blend-mode: difference;
      transform: translateY(-50%);
      transition: opacity var(--animation-speed-complex) var(--animation-easing-decelerate);
      pointer-events: none;
      z-index: 3;
    }

    &--hide {
      opacity: 0;

    }
  }

  &__video {
    display: none;

    @include media('>=large') {
      position: absolute;
      top: 50%;
      right: -15%;
      display: block;
      max-width: 80%;
      mix-blend-mode: lighten;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}
