.how-why {
  margin-top: 64px;

  @include media(">=large") {
    margin-top: 24px;
  }

  .wrapper {
    @include media('>=large') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      row-gap: 24px;
    }
  }

  .teaser {

    &__link {
      display: block;
      height: 100%;
      padding: 64px;
      background-color: var(--color-crystal-white);
      border-radius: var(--border-radius);
      box-shadow: 0 2px 4px 0 rgba(24, 24, 32, 0.16);
      text-decoration: none;
      transition: box-shadow var(--animation-speed-complex) var(--animation-easing-decelerate);

      &:hover, &:focus {
        box-shadow: 0 14px 28px rgba(24, 24, 32, 0.08);
      }
    }

    &__photo {
      margin: 0 -64px -64px;
      aspect-ratio: 16/9;
    }

    &__meta {
      position: relative;
      margin: 0;
      font-size: 16px;
      font-weight: var(--font-weight-semibold);
      color: var(--color-slate);
      letter-spacing: normal;
      text-transform: uppercase;

      &:after {
        content: '';
        display: block;
        width: 32px;
        height: 2px;
        margin: 16px 0 0;
        background: linear-gradient(to right, var(--color-magenta-60), var(--color-purple-60));;
        border-radius: var(--border-radius);
      }
    }

    &__title {
      margin: 16px 0 8px;
      font-size: 40px;
      font-weight: var(--font-weight-black);
      line-height: 1.25;
      letter-spacing: -2px;
    }

    &__desc {
      margin: 0;
      color: var(--color-slate);
    }

  }

  .teaser + .teaser {
    margin-top: 16px;

    @include media('>=large') {
      margin-top: 0;
    }
  }

}
