.values {
  @include media('>=large') {
    margin-top: 128px;
  }

  .wrapper {
    @include media('>=large') {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 24px;
    }
  }

  &__primary {
    @include media('>=large') {
      position: relative;
      grid-column: 1 / 4;
    }
  }

  &__secondary {
    @include media('>=large') {
      grid-column: 5 / 13;
    }
  }

  &__number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: var(--color-carbon-100);
    font-size: 128px;
    font-weight: var(--font-weight-black);
    line-height: 1;
    user-select: none;
    z-index: 0;
  }

  &__title {
    position: relative;
    margin: 0 0 0 106px;
    font-size: 32px;
    line-height: 128px;
    z-index: 1;

    &:after {
      content: '.';
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 64px 0 0;
    list-style: none;
  }

  &__listitem {
    padding: 32px;
    background-color: var(--color-crystal-white);
    border-radius: var(--border-radius);

    @include media('>=large') {
      width: math.percentage(math.div(400, 824));
    }

    &:nth-child(even) {
      @include media('>=large') {
        margin-left: math.percentage(math.div(24, 824));
      }
    }

    &:nth-child(n+3) {
      @include media('>=large') {
        margin-top: 24px;
      }
    }

    h2 {
      margin: 0 0 16px;
      font-size: 24px;
    }

    p {
      margin: 0;
      color: var(--color-slate-light);
    }
  }
}

.philosophy {
  @include media('>=large') {
    margin-top: 128px;
  }

  .wrapper {
    @include media('>=large') {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 24px;
    }
  }

  &__primary {
    @include media('>=large') {
      position: relative;
      grid-column: 1 / 4;
    }
  }

  &__secondary {
    @include media('>=large') {
      grid-column: 5 / 13;
    }
  }

  &__number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: var(--color-carbon-100);
    font-size: 128px;
    font-weight: var(--font-weight-black);
    line-height: 1;
    user-select: none;
    z-index: 0;
  }

  &__title {
    position: relative;
    margin: 0 0 0 106px;
    font-size: 32px;
    line-height: 128px;
    z-index: 1;

    &:after {
      content: '.';
    }
  }

  &__list {
    padding: 32px;
    margin: 64px 0 0;
    background-color: var(--color-crystal-white);
    border-radius: var(--border-radius);
    list-style: none;
    counter-reset: philosophy-counter;
  }

  &__listitem {
    padding: 16px 0;
    border-top: 1px solid var(--color-carbon-100);
    font-weight: var(--font-weight-semibold);
    counter-increment: philosophy-counter;

    &:first-child {
      padding-top: 0;
      border: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:before {
      content: counter(philosophy-counter, decimal-leading-zero);
      display: inline-block;
      width: 24px;
      margin-right: 32px;
      color: var(--color-slate);
      font-weight: var(--font-weight-regular);
    }
  }
}
