.process {
  margin-top: 128px;

  .wrapper {
    @include media('>=large') {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 24px;
    }
  }
}

.phase {
  position: relative;

  &__primary {
    @include media('>=large') {
      position: relative;
      grid-column: 1 / 5;
    }
  }

  &__secondary {
    @include media('>=large') {
      grid-column: 5 / 13;
      padding-top: 40px;
    }
  }

  &__number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: var(--color-carbon-100);
    font-size: 128px;
    font-weight: var(--font-weight-black);
    line-height: 1;
    user-select: none;
    z-index: 0;
  }

  &__title {
    position: relative;
    margin: 0 0 0 106px;
    font-size: 32px;
    line-height: 128px;
    z-index: 1;

    &:after {
      content: '.';
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 32px;
    font-weight: var(--font-weight-semibold);
    line-height: 1.25;
    letter-spacing: -1px;
  }

  &__desc {}

  + .phase {
    margin-top: 128px;
  }

  img {
    margin-top: 64px;
  }

  svg {
    max-width: 100%;
    height: auto;
    padding: 64px 128px 0;
  }
}
