blockquote {
  position: relative;
  padding: 64px 0;
  margin: 0;
  text-align: center;

  @media (min-width: var(--breakpoint-lg)) {
    font-size: 32px;
    font-weight: var(--font-weight-regular);
  }

  p {
    position: relative;
    margin: 0;
    z-index: 1;
  }
}
