.services {
  @include media('>=large') {
    margin: -128px 0 0;
  }

  .wrapper {
    display: grid;
    row-gap: 24px;

    @include media('>=large') {
      display: block;
    }
  }
}

.service {
  @include media('>=large') {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__primary {
    position: relative;
    padding: 32px;
    background-color: var(--color-crystal-white);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px 0 rgba(24, 24, 32, 0.08);
    z-index: 1;

    @include media('>=large') {
      width: math.percentage(math.div(294, 1248));
      padding-top: math.percentage(math.div(294, 1248));
    }

    > svg {
      max-width: 64px;
      max-height: 64px;

      @include media('>=large') {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        max-width: none;
        height: 50%;
        max-height: none;
        transform: translate3d(-50%, -50%, 0);
      }

      @include media('>=x-large') {
        width: auto;
        height: 35%;
      }

      @include media('>=xxx-large') {
        width: 60%;
        height: 50%;
      }
    }

    .button {
      width: 100%;
      white-space: nowrap;

      @include media('>=xx-small') {
        width: auto;
      }
    }
  }

  &__secondary {
    @include media('>=large') {
      width: math.percentage(math.div(506, 1248));
    }

    p:first-child {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25;
    }

    p:nth-child(2) {
      color: var(--color-slate);
    }
  }

  &__header {
    margin-top: 32px;

    @include media('>=large') {
      position: absolute;
      top: 50%;
      left: math.percentage(math.div(264, 294));
      width: 150%;
      margin-top: 0;
      transform: translate3d(0, -50%, 0);
    }
  }

  &__title {
    margin: 0 0 32px;
    font-weight: var(--font-weight-black);
    letter-spacing: -1px;

    @include media('>=large') {
      font-size: 48px;
      line-height: 1;
      letter-spacing: -2px;
    }
  }

  // first service
  &:first-child {
    position: relative;

    &:before {
      @include media('>=large') {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 148px;
        height: 148px;
        background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
        background-size: 32px 32px;
        transform: translate3d(-50%, -50%, 0);
        z-index: 0;
      }
    }
  }

  // adjacent services
  + .service {
    @include media('>=large') {
      padding-top: 64px;
      margin-top: 64px;
      border-top: 1px solid var(--color-carbon-100);
    }
  }

}
