@use "sass:math";

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/gilroy-light-webfont.woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/gilroy-regular-webfont.woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/gilroy-semibold-webfont.woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/gilroy-bold-webfont.woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: url('../public/fonts/gilroy-extrabold-webfont.woff2');
}

@import 'tokens';

@import 'media-queries';
@import 'mixins';

@import 'box-sizing';
@import 'normalize';

@import 'base';
@import 'headings';
@import 'images';
@import 'inputs';
@import 'labels';
@import 'links';
@import 'quotes';
@import 'text';
@import 'videos';

@import 'button';
@import 'meta-label';
@import 'mlogo';

@import 'band';
@import 'footer';
@import 'header';
@import 'wrapper';

@import 'awards';
@import 'breadcrumb';
@import 'clients';
@import 'cover';
@import 'detour';
@import 'dribbble-posts';
@import 'form-follow';
@import 'hero';
@import 'how-why';
@import 'manifesto';
@import 'meta-list';
@import 'news';
@import 'nutshell';
@import 'poster';
@import 'process';
@import 'services';
@import 'sidekick';
@import 'skills';
@import 'tagline';
@import 'tags';
@import 'work';